<!DOCTYPE html>
<html>
<head head th:replace="../fragments/template :: head">
<title>Test books</title>
</head>


<body>
	<div th:replace="../fragments/template :: header"></div>
	<h1>Test books</h1>
	<ul id="tests">
		<li th:each="testBook: ${testBooks}"><a
			th:href="${'/list?testBookId='+ testBook.id}">
				[[${testBook.name}]] </a></li>
	</ul>


	<form action="/createBook/">

		<input type="text" name="testBookName" required><br> <input
			type="submit" name="newTestBook" value="new testBook"> <br>

	</form>
</body>
</html>