<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>[[${testBook.id}]]</title>
</head>

<h1> Cahier de test n° [[${testBook.id}]] : [[${testBook.name}]]</h1>


<body>

<ul id="tests">
		<li th:each="test: ${tests}" > 
		<a  th:href="${'/test?testBookId='+ testBook.id+'&testId='+test.id}"> 
		Test n° [[${test.id}]] : [[${test.name}]]
			
		</a> 
	
		</li>
	</ul>



	<form th:action="${'/create?testBookId='+ testBook.id}" method="POST" accept-charset="UTF-8">

		<input type="text" name="testName"> <br>
		 <input type="submit" name="createTest" value="create new test">
		 <br>
		 

	</form>
	<form action="/books" >
	
	<input type="submit" name="edit" value="Save changes">
	
	</form>
</body>
</html>