<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<h1>
Test n° [[${test.id}]]
</h1>
<body> 
<ul>
		<li th:each="test: ${tests}" > 
		<a  th:href="${'/tests?testBookId='+ test.id"> 
		[[${test.name}]]
		</a> 
	
		</li>
		
	</ul>
	
		<form th:action="@{/editTest}" method="POST" accept-charset="UTF-8">
	
		id: <input type="text" id="testId" name="testId" th:value="${test.id}">
		<input type="hidden" id="testBookId" name="testBookId" th:value="${testBook.id}">
		name: <input type="text" id="name" name="name" th:value="${test.name}">

			 <br>
	     result: <input
			type="text" id="name" name="result" th:value="${test.result}"> <br>
		<br> 
		
		<input type="submit" name="edit" value="Save changes">
	</form>
</body>
</html>