<!DOCTYPE html>
<html>
	<head head th:replace="../fragments/template :: head">
    <title>Visualisation d'un Rapport de test</title>
	</head>
	
	<body>
	<div th:replace="../fragments/template :: header"></div>
		<h2>Visualisation d'un Rapport de test</h2>
		<div>
			<h4>Test concerne  : [[${test.name}]]</h4>
		</div>
		<div>
			<h4>Effectué le : [[${dateTime}]] </h4>
		</div>
		<div>
			<h4> Etat : </h4>
			<span th:if="${testReport.isSuccess()}" style="color:green"> Validé  <i class="fa fa-check-circle"></i></span>
			<span th:unless="${testReport.isSuccess()}" style="color:red"> Echoué <i class="fa fa-times-circle"></i></span>
			
		</div>
			
			<div th:each ="Step : ${Steps}">
				<h4>[[${Step.name}]]</h4>
					<div th:each="stepR: ${StepReports}">
						<p th:if="${stepR.step==Step}" >[[${stepR.success}]]</p>
						<p th:if="${stepR.step==Step}" >[[${stepR.comment}]]</p>
					</div>
			</div>
     
		<br>
		
    	
		<a th:href="${'/test?testBookId=' + testBookId + '&id=' + test.id}">Revenir au test</a>
		<br>
		<a th:href="${'/list?testBookId=' + testBookId}">Retour à l'accueil</a>
	</body>
